.Header > h1 {
	font-family: "Rowdies", sans-serif;
    letter-spacing: 7px;
    font-style: italic;
}

.Header {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.Header:hover{
    color: aqua;
    transform: scale(1.1);
}