.Board {
	display: grid;
    grid-template-rows: 15vh 15vh 15vh;
    grid-template-columns: 15vh 15vh 15vh;
    cursor: pointer;
}

.Board > .border-right {
    border-right: 0.1em solid aqua;
}

.Board > .border-bottom {
    border-bottom: 0.1em solid aqua;
}

.Board > .hoverX:hover::after {
    content: "X";
    opacity: 0.3;
}

.Board > .winningX {
    color: rgb(47, 255, 61);
}

.Board > .winningO {
    color: red;
}

@media screen and (min-width: 768px) {
    .Board {
        grid-template-rows: 20vh 20vh 20vh;
        grid-template-columns: 20vh 20vh 20vh;
    }
}